html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column; /* Empilha o cabeçalho e o conteúdo verticalmente */
}

header {
    position: relative;
    background-color: #FFA629;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

.logo {
    height: 100px;
    width: 100px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 5px;
    border: none;
    background-color: #FFA629;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajuste a largura do botão conforme necessário */
    height: 40px; /* Ajuste a altura do botão conforme necessário */
}

.search-button:hover {
    background-color: #FF8C00; /* Cor de fundo ao passar o mouse */
}

.search-icon {
    fill: white; /* Cor do ícone */
    width: 20px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 20px; /* Ajuste o tamanho do ícone conforme necessário */
}

.home:hover {
    color: aliceblue;
}

main {
    flex: 1; /* Ocupa o espaço restante disponível */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que o mapa não ultrapasse os limites do contêiner */
}

#svgMap {
    width: 100%;  /* Ajusta a largura do mapa como uma porcentagem da largura do contêiner */
    height: 100%; /* Ajusta a altura do mapa como uma porcentagem da altura do contêiner */
    max-width: 1200px; /* Define uma largura máxima */
    max-height: 800px; /* Define uma altura máxima */
}
